



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --heading: 'Montserrat', 'sans-serif';
}

body {
    font-family: 'Raleway', sans-serif;
    background: #f2f2f2;
}

div.navigation-container {
    background-color: #252525;
}

.top-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #252525;
    color: #fff;
    padding: 20px 30px;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

hr {
    width: 95vw;
    margin: 0 auto;
}

.top-head .fas {
    font-size: 2rem;
    cursor: pointer;
}

.times-btn {
    display: none;
}

.nav-bar {
    background: #333;
    height: 0;
    overflow: hidden;
}

.show-nav {
    height: auto;
}

/*******************/

.nav-bar ul li {
    text-align: center;
    display: block;
    padding: 15px 0;
    transition: all 1s ease-in-out;
}

.nav-bar ul li:hover {
    background: #0e0e0e;
}

.nav-bar ul li a {
    color: #fff;
}

.nav-bar ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: none;
}


.banner {
    background: #fff;
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 30px 0;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.banner-main-content {
    padding: 0 2rem;
    line-height: 1.7;
}

.banner-main-content h2 {
    margin-top: 30px;
    font-size: 2.3rem;
    font-family: var(--heading);
    padding-left: 40px;
}

/*
.current-techniques {
    background: #fff;
    padding: 20px;
    font-size: 16px;
    margin: 20px 0;
}

.current-techniques h3 {
    padding: 6px;
    cursor: pointer;
    position: relative;
}

.current-techniques h3:hover::before {
    content: ">> ";
    left: -16px;
    position: absolute;
}

.current-techniques span {
    display: block;
    font-family: var(--heading);
}
*/

.current-topic {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 30px 12px 12px 12px;
    height: 300px;
}

.current-topic img {
    display: block;
}

.current-topic-content {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    padding: 10px 20px;
    line-height: 1.3;
    color: #f3f3f3;
}

.current-topic h2 {
    padding: 10px 0;
    font-size: 18px;
    text-shadow: 0 0 2px #000;
}

.current-topic p {
    padding: 10px 0;
    font-size: 15px;
    text-shadow: 0 0 2px #000;
    padding: 12px 10px;
}

.current-topic-content a {
    display: block;
    background: #f3f3f3;
    border: none;
    width: 95px;
    border-radius: 2px;
    text-align: center;
    padding: 7px 10px;
    font-size: 14px;
    margin: 10px 0 10px 10px;
}

.current-topic-content a:hover {
    text-decoration: underline;
}



footer {
    background: #252525;
    color: #f3f3f3;
    padding: 30px;
}

footer h2 {
    padding: 10px 0;
    line-height: 1.3;
}

.footer-left, .footer-right {
    margin: 0 20px;
}

.footer-left p {
    padding-top: 17px;
    padding-bottom: 17px;
}

footer > p {
    text-align: center;
    opacity: 0.8;
    margin-top: 20px;
}


.footer-right {
    padding: 70px;
    text-align: center;
    text-transform: uppercase;
}

.footer-right ul {
    justify-content: space-between;
    list-style: inside;
    line-height: 30px;
}

.footer-right a {
    font-size: 14px;
    color: #808080;
}

.footer-right a:hover {
    text-decoration: underline;
}

.footer-right a:visited {
    color: #818181;
    opacity: 0.8;
}


.footer-right input {
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
    color: #808080;
    padding-right: 10px;
    width: 100%;
    padding: 10px 0 0 10px;
}

.footer-right div {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 200px;
    padding: 10px 0;
    border-bottom: 1.6px solid #808080;
}

footer .copyright {
    text-align: center;
    padding: 20px;
}



@media(max-width: 460px) {
    .current-topic h2 {
        font-size: 16px;
    }
}

@media(min-width: 768px) {
    .banner-sub-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 800px) {
    /* nav */
    .ham-btn, .times-btn{
        display: none!important;
    }

    .navigation-container {
        display: flex;
        background: #252525;
        align-items: center;
        flex-wrap: wrap;
    }

    .top-head {
        flex: 0 0 15%;
    }

    .nav-bar {
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
    }

    .nav-bar nav ul {
        display: flex;
        justify-content: center;
    }
    .nav-bar nav ul li {
        padding-right: 30px;
    }

    .nav-bar nav ul li:hover {
        background: none;
    }

    .social-icons {
        flex: 0 1 30%;
        display: block;
        margin: 0 auto;
    }

    .social-icons .fab {
        color: #808080;
        font-size: 2rem;
    }
    .social-icons ul {
        display: flex;
        position: absolute;
        left: 78%;
        padding: 0 20px;
    }
    .social-icons ul li {
        padding: 20px;
    }
}